[*.cs]

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false

# IDE0047: Remove unnecessary parentheses
dotnet_diagnostic.IDE0047.severity = none

[*.csproj]
charset = utf-8-bom
indent_style = space
indent_size = 2
tab_width = 2